---
import Layout from '../layouts/Layout.astro';
import Header from '../components/common/Header.astro';
import Footer from '../components/common/Footer.astro';
import Hero from '../components/hero/Hero.astro';
import About from '../components/about/About.astro';
import Resume from '../components/resume/Resume.astro';
import Projects from '../components/projects/Projects.astro';
import Contact from '../components/contact/Contact.astro';
---

<Layout>
  <Header />
  <main>
    <Hero />
    <About />
    <Resume />
    <Projects />
    <Contact />
  </main>
  <Footer />
</Layout>
